@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');



.dprime{
    font-family: 'outfit', sans-serif;
    font-size: 18px;
    background-color: hsl(216, 50%, 16%);
    height: fit-content;
    width: fit-content;
    text-align: center;
    margin: 50px;
    border-radius: 10px;
    box-shadow: 5px 20px 15px  hsl(217, 54%, 11%);
    padding: 20px 20px 20px 20px;
   
}

.container{
    display: flex;
    flex-wrap: nowrap;
    background-color:  hsl(217, 54%, 11%);
    justify-content:center;
    height: 700px;
    
}

.d1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#img1{
    border-radius: 10px;
}
h3{
    color: white;
    display: flex;
}

#p2{
   color: hsl(178, 100%, 50%);
}
#p1{
    color: hsl(215, 51%, 70%);
    display: flex;
    
}

#p3{
    color: hsl(215, 51%, 70%);
}


hr{
    height: 1px;
    background-color:hsl(215, 32%, 27%);
    border: none;
}

#img4{
    border: solid 2px white;
    border-radius: 50%;
}

#p4{
    color: hsl(215, 51%, 70%);
    display: flex;
  align-items:center;
 
}


#p5{
    display: flex;
    justify-content: flex-start;
    color: hsl(215, 51%, 70%);
    line-height: 2px;
}
.creator{
    color: white;
    ;
}
sup{
    margin-left: 12px;
}